@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-success" asp-action="Cargar_Rubros" asp-controller="Home" asp-route-idEmpleado="0">Cargar Rubros</a>
</div>
