:root {
    --clr: #f0deaf;
    --clrp: #1b8547;
}

.navbar_container {
    height: 70px;
    z-index:2;
}

.contenedor_btn {
    z-index: 3;
    background-color: var(--clrp);
    font-family: var(--font-karla);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    transition: transform 1.5s ease; /* Ajusta la duración y el efecto de la transición según tus preferencias. */
}

imgVidon {
    
}

.img-circulo {
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border-radius: 60%;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.divLogo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index:3;
}

.divInfo {
    background: var(--clrp);
    position: fixed;
    width: 100%;
    height: 0px;
}

.wave2 {
    width: 100%;
    position: relative;
    top: -20px;
    border-radius: 0;
    height:300px;
}

.divBotones {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 75%;
}

.textoSucu{
    padding-bottom:15px;
    display:flex;
    color: white;
    text-align:center;
    justify-content:center;
    font-size: 20px;
}

.btn1 {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    height: 15%;
}





