@media (max-width:767px) {
    .tableRbrs {
        transform: scale(0.9);
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cambia a tres columnas */
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .tableRbrs {
        transform: scale(1);
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Cambia a tres columnas */
    }
}


@media (min-width: 1024px) and (max-width: 1199px) {
    .tableRbrs {
        transform: scale(1.1);
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Cambia a tres columnas */
    }
}


@media (min-width: 1200px) {
    .tableRbrs {
        transform: scale(1.1);
        display: grid;
        grid-template-columns: repeat(4, 2fr); /* Cambia a tres columnas */
    }
}

.body_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    overflow: auto;
}


.tableRbrs {

}

    .tableRbrs tr,
    .tableRbrs td {
        vertical-align: top;
        padding:5px;
    }


