@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Inicio</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2">Gestion Rubros</h3>
            <p>&nbsp;Esta opcion te permite una gestión completa de <strong>rubros, subrubros y etiquetas</strong>. Aquí puedes cargar, borrar y modificar todos sus aspectos, además de tener la capacidad de visualizarlos. </p>
            <a class="btn btn-warning" asp-action="Rubros" asp-controller="Carta">
                Gestionar
            </a>
        </div>
        <div class="feature col">
            <h3 class="fs-2">Gestion Artículos</h3>
            <p>&nbsp;Esta opcion te permite una gestión completa de los <strong>artículos</strong>. Aquí puedes cargar, borrar, modificar y relacionar todos sus aspectos, además de tener la capacidad de visualizarlos. </p>
            <a class="btn btn-warning" asp-action="Articulos" asp-controller="Carta">
                Gestionar
            </a>
        </div>
        <div class="feature col">
            <h3 class="fs-2">Actualizar precios</h3>
            <p>&nbsp;Esta opción te permite actualizar los precios de los artículos de manera general, ya sea por rubros, subrubros, etiquetas, utilizando tanto porcentajes como valores numéricos..</p>
            <a class="btn btn-warning" asp-action="Precios" asp-controller="Carta">
                Actualizar
            </a>
        </div>
    </div>

</div>

